.add-translation {
    height: 8em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: flex-around;
}

.add-translation__form {
    background-color: #f5f5f5;
    padding: 1em 0;
    max-width: 600px;
}

.add-translation__text {
    padding: .2em .5em;
    text-indent: 15px;
    line-height: 22px;
    max-width: 600px;
    min-width: 600px;
    font-size: 15px;
    height: 100px;
    border: 1px solid transparent;
    overflow: auto;
    border-radius: 6px;
}

.add-translation__textarea {
    outline: none;
    border: none;
    background-color: #fff4f3;
}

.add-translation__submit-button-container {
    text-align: right;
}

.add-translation__submit-button,
    margin-top: .5em;
    cursor: pointer;
    padding: 1em 2em;
    width: 150px;
    outline: none;
    background-color: #c00000;
    color: #ffffff;
    border: none;
}

.add-translation__submit-button:hover,
    background-color: #820000;
}

.add-translation__toggle-button:hover {
    background-color: #820000;
}

.add-translation__toggle-button img {
    height: 100%;
    width: 100%;
}

.add-translation__toggle-button {
    opacity: 1;
    transition: opacity 4s ease-in-out;
    height: 4em;
    width: 4em;
    position: relative;
    margin: 1em auto;
    overflow: hidden;
    padding: 0;
    border: 0; 
    cursor: pointer;
}

.add-translation__toggle-button-hidden {
    opacity: 0;
    transition: opacity 2s fade-out;
}

.hide-add-translation {
    display: none;
}
