@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Montserrat', 'sans';
}

.popup-content {
    box-shadow: 2px 2px 6px #868686;;
    background-color: #ededed;
}

.social a {
    text-align: center;
    float: left;
    margin: 0 5px 5px 0;
}

.social a i {
  font-size: 25px;
  font-weight: 700;
  color: black;
  display: inline-block;
  width: 50px;
}


#back-arrow {
  cursor: pointer;
}

.icon-facebook {
  width: 40px;
  cursor: pointer;
  margin: 10px 0;
  padding: 0;
}

.icon-github {
  width: 30px;
  cursor: pointer;
  margin: 17px 0;
  padding: 0;
}

.icon-google {
  width: 40px;
  cursor: pointer;
  margin: 12px 15px 10px 10px;
  padding: 0;
}

#log-in {
  background-color: rgb(108, 192, 136);
}

.header__auth-link:hover,
.header__auth-link:hover {
    text-decoration: none;
}

.main__button-confirm,
.main__button-reject {
    margin-top: .5em;
    width: 130px;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    outline: none;
    background-color: #c00000;
    color: #ffffff;
    border: none;
}

.main__button-confirm:hover,
.main__button-reject:hover {
    background-color: #820000;
}

.main__content {
    font-size: 15px;
}

/* SIGN IN */

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
}

.main__form-title {
    margin: 1em 0;
    font-size: 20px;
}

.main__form-input {
    padding: 8px 8px 8px 0;
    width: 18em;
    text-indent: 8px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.main__form-submit {
    margin-top: .5em;
    cursor: pointer;
    padding: 1em 2em;
    outline: none;
    background-color: #32a16a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.main__form-submit:hover {
    background-color: #5fbda5;
}
