@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.popup-content {
    width: 350px;
    box-shadow: 2px 2px 6px #868686;;
    background-color: #ededed;
}

.header {
    display: flex;
    padding: 1.5em 1.5em;
    background-color: #8c0000;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-title {
    color: #ffffff;
    font-weight: 700;
}

.header__logo-image {
    width: 50px;
}

.header__auth-link,
.header__back-link {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    color: #ffffff;
}

.header__auth-link:hover,
.header__auth-link:hover {
    text-decoration: none;
}

.main,
.main-login {
    text-align: center;
    padding: 1em 1.5em;
    height: 300px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__button-confirm,
.main__button-reject {
    margin-top: .5em;
    width: 130px;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    outline: none;
    background-color: #c00000;
    color: #ffffff;
    border: none;
}

.main__button-confirm:hover,
.main__button-reject:hover {
    background-color: #820000;
}

.main__content {
    font-size: 18px;
    padding: 50px 0;
}

/* SIGN IN */

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
}

.main__form-title {
    margin: 1em 0;
    font-size: 20px;
}

.main__form-input {
    padding: 8px 8px 8px 0;
    width: 18em;
    text-indent: 8px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.main__form-submit {
    margin-top: .5em;
    cursor: pointer;
    padding: 1em 2em;
    outline: none;
    background-color: #c00000;
    color: #ffffff;
    border: none;
}

.main__form-submit:hover {
    background-color: #820000;
}
