body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #ffffff;
}

ul {
    list-style-type: none;
}

/* COLOR VARIABLS: */
/*
#9199A1
#707479
#2F4A69
#C1C8D0
#C5CAD0

#F7EDDD
#B9B3AA
#A07D48	#FBF3E7	#FBF5EC


*/
